@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --stripe-color: #469D5F;
    --header-footer-font-color: #FAF6A9;
    --active-color: rgb(255, 81, 0): 
}

body {
    background-color: #1F5139;
    color: azure;
    font-family: 'Noto Sans', sans-serif;
}

header, footer {
    background-color: var(--stripe-color);
    color: var(--header-footer-font-color);
    text-align: center;
}

header {
    margin: 0vh auto 5vw;
    padding: 2vw;
}

header h1 {
    font-size: 3vw;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.controlPanel {
    background-color: #4B898D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 2vw;
    padding-top: 10px;
    color: #D5E9BB;
}

.controlPanel  p {
    font-size: 2vw;
}

.controlPanel > p {
    font-size: 3vw;
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
}

.controlPanel .corners .corner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controlPanel .corners .corner input,
.controlPanel .additionalFeatures .colorFeature .rgba .color input,
button {
    outline: none;
    padding: 0.8vw;
}

.controlPanel .corners .corner input {
    width: 30%;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 6px;
}

.controlPanel .corners .corner input:focus,
.controlPanel .additionalFeatures .colorFeature .rgba .color input:focus {
    background-color: #81BB83;
    color: rgb(245, 244, 244);
}

.controlPanel .additionalFeatures .colorFeature {
    border-top: rgb(243, 148, 148) 5px solid;
}

.controlPanel .additionalFeatures .colorFeature .rgba {
    display: flex;
    justify-content: space-between;
}

.controlPanel .additionalFeatures .colorFeature .rgba .color input {
    width: 80%;
    text-align: center;
    font-size: 2vw;
    border-radius: 4px;
}

.theDivContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theDiv {
    background-color: rgba(0, 0, 0, 1);
    border: white solid 2px;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.theDiv p {
    width: 50%;
    font-size: 2vw;
}

.buttonContainer {
    margin: 4vw 0;
    display: flex;
    justify-content: center;
}

.buttonContainer button {
    width: 30%;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #A6C698;
    color: #924747;
    padding: 2vw;
    font-size: 2vw;
    transition: 400ms;
}

.buttonContainer button:hover {
    background-color: rgb(127, 255, 144);
    color: rgb(32, 24, 24);
}

.buttonContainer button:active {
    background-color: var(--active-color);
}

footer {
    margin-top: 20px;
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    font-size: 2vw;
    text-decoration: none;
    border-bottom: 2px solid var(--stripe-color);
    color: var(--header-footer-font-color);
    transition: 400ms;
}

footer a:hover {
    border-bottom: 2px solid #41F2E8;
    color: #41F2E8;
}

footer a:active {
    color: var(--active-color);
    border-color: var(--active-color);
}

footer a + a {
    margin-left: 8vw;
}