* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 5, 22);
    color: azure;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: rgba(29, 75, 75, 0.7);
    text-align: center;
    margin-bottom: 2vh;
}

.controlPanel {
    background-color: rgb(77, 77, 200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40%;
    margin: 0 auto;
    border-radius: 1vh;
    padding: 2vw;
    height: 50vh;
}

.controlPanel p {
    font-size: 26px;
}

.controlPanel .corners .corner {
    display: flex;
    justify-content: space-between;
    margin: 1vh 0;
}

.theDiv {
    background-color: red;
    width: 40%;
    margin: 2vh auto;
    padding: 3vh;
    text-align: center;
    font-size: 20px;
}