@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F5139;
    color: azure;
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: #469D5F;
    color: #FAF6A9;
    text-align: center;
    margin: 0vh auto 1vw;
    padding: 2vw;
    font-size: 2vw;
}

header h1 {
    font-size: 3vw;
}

main {
    display: flex;
    justify-content: space-between;
}

.controlPanel {
    background-color: rgb(77, 77, 200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40%;
    margin: 0 auto;
    border-radius: 1vh;
    padding: 2vw;
}

.controlPanel  p {
    font-size: 2vw;
}

.controlPanel > p {
    font-size: 3vw;
    text-align: center;
    color: rgb(109, 18, 18);
    font-weight: 700;
}

.controlPanel .corners .corner {
    display: flex;
    justify-content: space-between;
    margin: 1vh 0;
}

.controlPanel .corners .corner input,
.controlPanel .additionalFeatures .colorFeature .rgba .color input,
button {
    outline: none;
    padding: 0.8vw;
}

.controlPanel .corners .corner input {
    width: 30%;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 6px;
}

.controlPanel .corners .corner input:focus,
.controlPanel .additionalFeatures .colorFeature .rgba .color input:focus {
    background-color: rgb(189, 165, 165)
}

.controlPanel .additionalFeatures .colorFeature {
    border-top: rgb(243, 148, 148) 5px solid;
}

.controlPanel .additionalFeatures .colorFeature .rgba {
    display: flex;
    justify-content: space-between;
}

.controlPanel .additionalFeatures .colorFeature .rgba .color input {
    width: 80%;
    text-align: center;
    font-size: 2vw;
    border-radius: 4px;
}

.buttonContainer {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
}

.buttonContainer button {
    width: 30%;
    border-radius: 4px;
    margin: 0 auto;
}

.buttonContainer button:hover {
    background-color: aquamarine;
}

.buttonContainer button:active {
    background-color: rgb(255, 81, 0);
}

.theDiv {
    background-color: rgba(0, 0, 0, 1);
    width: 40%;
    margin: 4vh auto;
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.theDiv p {
    width: 50%;
    font-size: 2vw;
}